<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="2.13.0307" targetFramework="net452" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net452" />
  <package id="SharpDX" version="4.0.1" targetFramework="net452" />
  <package id="SharpDX.Direct2D1" version="4.0.1" targetFramework="net452" />
  <package id="SharpDX.DXGI" version="4.0.1" targetFramework="net452" />
</packages>